<h4>　〜トレーニングメニューの作成〜</h4>
<div class="row">
  <div class="col s4">
<%= form_with model:[@profile,@training], id: "form" do |f| %>
      <%= f.label :name, 'トレーニング名' %>
      <%= f.text_field :name %>

      <%= f.label :met, '運動強度(MET)' %>
      <%= f.text_field :met %>

      <%= f.label :time, '運動時間(m)' %>
      <%= f.text_field :time %>

  <%= f.submit '投稿', class: 'waves-effect waves-light btn orange' %>
  <%= link_to 'キャンセル', root_path, class: 'waves-effect waves-light btn grey' %>
<% end %>