<div class='row'>
  <div class='col s4'>
    <%= form_with model: @profile, id: 'form' do |f| %>

      <%= f.label :new_height, '身長(cm)' %>
      <%= f.text_field :new_height,:autofocus => true%>

      <%= f.label :sex, '性別' %><br>
      <%= f.select :sex, [['男', '男'], ['女', '女']] %>

      <%= f.label :age, '年齢' %>
      <%= f.text_field :age %>

      <%= f.label :new_goal, '目標体重(kg)' %>
      <%= f.text_field :new_goal %>

    <div class='fallback'>
      <%= f.label :image, 'プロフィール写真' %><br>
      <%= f.file_field :image %>
    </div>
    
      <%= f.submit '投稿', class: 'waves-effect waves-light btn orange' %>
      <%= link_to 'キャンセル', root_path, class: 'waves-effect waves-light btn grey' %>

    <% end %>
  </div>
</div>