
  <div class="row">
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="https://cdn.pixabay.com/photo/2019/08/02/09/39/mugunghwa-4379251__480.jpg">
        <% if user_signed_in? %>
          <span class="card-title">start_profile</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red", href=profiles/new ><i class="material-icons">=</i></a>
        </div>
        <div class="card-content">
          <p>名前: <%= current_user.name %></p>
          <p>身長: <%= current_user.start_height %></p>
          <p>登録時体重: <%= current_user.start_weight %></p>
          <p>目標体重: <%= current_user.gole %></p>
          <p>BMI: <% bmi = current_user.start_weight / (current_user.start_height / 100) / (current_user.start_height / 100) %>
                  <%= bmi.round(1) %></p>
        </div>
      </div>
    </div>
  </div>
      <div class="row">
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjg5CyTmuacDF1TGAByYNhCOxnJEqasps4fZZjxK3Oj1Tk0q6E">
          <span class="card-title">Current_profile</span>
        </div>
        <div class="card-content">
    
        
          <p>名前: <%= current_user.name %></p>
          <p>性別: <%= @profile.sex  %></p>
          <p>年齢: <%= @profile.age  %></p>
          <p>身長: <%= @profile.height  %></p>
          <p>現在体重: <%= @profile.weight  %></p>
          <p>目標体重: <%= @profile.goal_weight  %></p>
          <p>BMI: <% num = @profile.weight / (@profile.height / 100) / (@profile.height / 100) %>
                  <%= num.round(1) %></p>
  
        </div>
      </div>
    </div>
  </div>
<% end %>