<div class="card mb-3" style="max-width: 100%;" id="content">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="https://images-na.ssl-images-amazon.com/images/P/B076HM1JBG.09-A1VC38T7YXB528._SCRMZZZZZZ_CR280,0,780,1170_SY960_.jpg" class="card-img" id="contentimg">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">[Start_Profile]</h5>
          <p>名前: <%= current_user.user_name %></p>
          <p>身長: <%= current_user.start_height %></p>
          <p>登録時体重: <%= current_user.start_weight %></p>
          <p>目標体重: <%= current_user.gole %></p>
          <p>BMI: <% bmi = current_user.start_weight / (current_user.start_height / 100) / (current_user.start_height / 100) %>
                  <%= bmi.round(1) %></p>
        <p class="card-text"><small class="text-muted"><%= "登録日時: " + current_user.created_at.strftime("%Y-%m-%d %H:%M")%></small></p>
      </div>
    </div>
  </div>
  <a class="btn-floating halfway-fab waves-effect waves-light red", href="profiles/<%= @profile.user_id %>/edit" ><i class="material-icons">=</i></a>
</div>
  
<div class="card mb-3" style="max-width: 100%;" id="content">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="https://images-na.ssl-images-amazon.com/images/P/B076HM1JBG.09-A1VC38T7YXB528._SCRMZZZZZZ_CR280,0,780,1170_SY960_.jpg" class="card-img" id="contentimg">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">[Current_Profile]</h5>
             <p>名前: <%= current_user.user_name %></p>
          <p>身長: <%= @profile.new_height  %></p>
          <p>現在体重: <%= @profile.new_weight  %></p>
          <p>目標体重: <%= @profile.new_goal %></p>
          <p>BMI: <% num = @profile.new_weight / (@profile.new_height / 100) / (@profile.new_height / 100) %>
                  <%= num.round(1) %></p>
        <p class="card-text"><small class="text-muted"><%= "最終更新: " + @weight.created_at.strftime("%Y-%m-%d %H:%M")%></small></p>
      </div>
    </div>
  </div>
</div>
<div class = "box">
<a class="btn-floating halfway-fab waves-effect waves-light red", href="profiles/<%= @profile.id %>/weights/new" ><i class="material-icons">+</i></a>
</div>
<%= line_chart Weight.group_by_day(:created_at).average(:weight), messages: {empty: "No data"} %>

  