<h4>　メニュー名を入力してください</h4>
<div class="row">
  <div class="col s4">
  <%= form_with model:@menu, id: "form" do |f| %>

  <%= f.label :training_neme, 'メニュー名' %>
  <%= f.text_field :training_name %>


  <%= f.submit '投稿', class: 'waves-effect waves-light btn orange' %>
  <%= link_to 'キャンセル', root_path, class: 'waves-effect waves-light btn grey' %>

<% end %>